.modal-header
  %a.close{:"data-dismiss" => "modal"} ×
  %h3 Do you want to delete the selected files


.modal-body Are you sure you want to delete the selected files?


.modal-footer
  %button.btn.btn-warning.ok{:"data-dismiss" => "modal"} Yes, delete my files
  %button.btn.cancel{:"data-dismiss" => "modal"} Cancel

