.content-container-wrapper
  .index
    .container
      .row
        .span12
          :markdown 

            ImplicitCAD Documentation
            =========================

            Tutorial
            --------

            Learn ImplicitCAD's ExtOpenSCAD language with our [tutorial](/docs/tutorial)!
            (If you already know OpenSCDAD, you may wish to look at the 
            [tutorial for openscad developers](/docs/tutorialSCAD) instead.)

            Examples
            --------

            Learn by example! Check out a bunch of [cool examples](/examples) of 
            objects designed in ImplicitCAD. Then try making changes, all in your web browser!

            Reference
            ---------

            Learn *all* the primitives with the [ExtOpenSCAD API Reference](/docs/api)!
            There's all sorts of useful tools for designing objects available!


