.content-container-wrapper
  .index
    .container
      .row
        .span12
          %h2 ImplicitCAD: What is it?
          %p ImplicitCAD is a programmatic CAD program, implemented in haskell. Unlike traditional CAD programs, programmatic CAD programs use text descriptions of objects, as in programming. Concepts like variables, control structures and abstraction are used, just as in programming. This provides a number of advantages:

          %ul
            %li Objects can abstracted and reused
            %li Repetitive tasks can be automated
            %li Objects can be designed parametrically
            %li The usual tools for software development (like version control) can be used

          %p The traditional example of programmatic CAD is OpenSCAD.

          %p Generally, objects in programmatic CAD are built with Constructive Solid Geometry or CSG. Unions, intersections and differences of simpler shapes slowly build the object. ImplicitCAD supports all this and much more! For example, it provides rounded unions so that one can have smooth interfaces between objects.

          %p It also directly provides GCode generation, and has a parser for OpenSCAD to make it easier for people to transition.

          %p ImplicitCAD is very much a work in progress. The author considers it ready for beta testers and greatly appreciates bug reports.


      .row
        .span12
          %hr
          - example_code = 
          .pull-right
            %a.btn.btn-success.btn-large.btn-h2-align{href: "/editor?#{escad_example(:demo, :format => :url)}"} Try out this code!
          %h2 Step 1: Write Code, Step 2: Things!

      .row
        .span8
          %pre= escad_example(:demo)
        .span4
          .well{style: "height: 176px; background:url('/assets/example1-small.png') no-repeat 50% 65%"}



      .row
        .span12
          %hr

          %h2 Want to give it a try?
          %p.large Now after all that talk wouldn't it be nice to go and give ImplicitCAD a test run? Bet your expecting some big long installation instructions now?
        
          %p.large.italic Well not today! Today we're making this easy!
        
          %p.large  Just sign up and you'll be SCADing in your web browser in no time without so much as a "click accept to save this file"!

          %a.btn.btn-large.btn-success.btn-top-margin{href: "/editor"} Start OpenSCADing Today!
