!!!
%head
  %title ImplicitCad.org

  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  - unless @editor
    .implicit-title
      %a.logo-link{:href=> "/"}
        %h1 ImplicitCAD
    .nav
      .btn-group
        %a.btn.btn-large{:href=> "/docs"}Tutorial
        %a.btn.btn-large{:href=> "/examples"}Examples
        %a.btn.btn-large{:href=> "/docs/api"}API Docs
        %a.btn.btn-large{:href=> "http://github.com/colah/ImplicitCAD"}Code
        %a.btn.btn-large{:href=> "/faq"}FAQ
        %a.btn.btn-large{:href=> "/editor"}Try it online!

  = yield

